### Java ###
# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Angular/Node ###
# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Angular cache
.angular/
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
testem.log

### IDEs and editors ###
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

### System Files ###
.DS_Store
Thumbs.db
.env
.env.*
*.local
*.local.*

# Archive files
*.tgz
*.tar
*.gz
*.7z
*.tar.xz
*.tar.bz2
*.tar.lz
.vscode/settings.json
Code/AutoDeployrBackend/git-clones/taskmanager/
